{% extends 'layouts/layoutAuth.twig' %}
{% block title %}{{ __('Setup') }}{% endblock %}

{% block content %}

	<div class="registerWrapper">

		<div class="registerFormWrapper">

			<header class="registerHeader">

				<h1>Thank you!</h1>

			</header>

			<div class="registercontent">

				<p>Thank you for visiting our website. Something looks suspicious for us, for example your email or some other information that you submitted. If you think that everything is fine, then please go back and try again.</p>
				
				<a href="{{ base_url }}">home</a>
			</div>
		</div>
	</div>
	
{% endblock %}
